.features
    background-color: $color-grey-light
    grid-column: center-start / center-end
    padding: 15rem 0
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr))
    grid-gap: 3rem 4rem
    align-items: start
    @include respond(phone)
        padding: 5rem 0
.featur
    display: grid
    grid-template-columns: min-content 1fr
    grid-gap: 1.5rem 2.5rem
    &__icon
        width: 4.5rem
        height: 4.5rem
        grid-column: 1 / 2
        grid-row: 1 / span 2
        transform: translateY(-1rem)
    &__text
        // grid-column: 2 / 3
        font-size: 1.6rem
        font-weight: 400
        line-height: 113%
        color: $color-green-dark